<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <title>{{title}}</title>
</head>

<body>

  {{> navbar}}

  <div class="container">

    {{> flash}}

    <h1>{{title}}</h1>
      {{#if instructions}}{{instructions}}{{/if}}

    <h2>Exercises</h2>
    <ul class="list-group">
      {{#each exercises}}
      <li class="list-group-item">
        {{#if submitted}}<span class="badge">{{submitted}}</span>{{/if}}
        <a href="/exercise/{{_id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>

</body>
</html>
