<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <title>{{title}}</title>
</head>

<body>

  {{> navbar}}

  <div class="container">

    {{> flash}}

    <h1>{{title}}</h1>
    <h3>Propositional Identity Proof Problems</h3>
    <h4>NOTE 1: You can submit these problems multiple times.</h4>
    <h4>NOTE 2: You will not be graded on the example problems.</h4>
    {{#if instructions}}{{instructions}}{{/if}}

    <h2>Exercises</h2>
    <ul class="list-group">
      {{#each exercises}}
      <li class="list-group-item">
        {{#if submitted}}<span class="badge">{{submitted}}</span>{{/if}}
        <a href="/exercise/{{_id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>

</body>
</html>
